@using RTComm.Data
@using RTComm.Services
@inject IJobService JobService
@inject ICommentService commentService
@inject IJSRuntime jsRuntime





<div class="modal" tabindex="-1" role="dialog" id="commentViewModal">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Comments</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">x</span>
            </button>
          </div>
        <div class="modal-body">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Job Name</th>
                            <th>Comment</th>
                            <th>Author</th>
                            <th>Date Added</th>


                        </tr>
                    </thead>
                    <tbody>
                        @if (JobObject.Comments != null)
                        {
                            @foreach (var comment in JobObject.Comments)
                            {
                        <tr>
                            <td>@comment.Job.Name</td>
                            <td>@comment.Comment</td>
                            <td>@comment.Author</td>
                            <td>@comment.Time</td>
                            


                        </tr>
                            }
                        }
                    </tbody>
                </table>
              
               
        </div>
        <div class="modal-body">
            
        </div>
    </div>
</div>
    </div>
    
@code {
    [Parameter]
    public Jobs JobObject { get; set; }

    private void PrepareForEdit(Jobs job)//starting to add the edit functionality for comments but not sure yet
    {
        JobObject = job;
    }

    private void PrepareForDelete(Jobs job)
    {
        JobObject = job;
    }
    

}
