@using RTComm.Data
@using RTComm.Services
@inject IClientService Service
@inject IJSRuntime jsRuntime
@using Microsoft.JSInterop

    <div class="modal" tabindex="-1" role="dialog" id="ConJobModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Jobs</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Job Name</th>
                                <th>Job Cost</th>
                                <th>Job Decription</th>
                                <th>Active?</th>



                            </tr>
                        </thead>
                        <tbody>
                            @if (ConstructionCo.Jobs != null)
                            {
                                @foreach (var job in ConstructionCo.Jobs)
                                {

                                    <tr>
                                        <td>@job.Name</td>
                                        <td>@job.Cost.</td>
                                        <td>@job.Description.</td>
                                        <td>@job.IsActive</td>
                                    </tr>



                                }
                            }
                        </tbody>
                    </table>


                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

@code {
    [Parameter]
    public ConstructionCo ConstructionCo { get; set; }


    private async Task CloseConcoJobModal()
    {
        await jsRuntime.InvokeAsync<object>("CloseModal", "ConJobModal");
    }
}
