@page "/"

<head>
   <div class="picture">
       <img src="images/LIFE.jpg" style="height:50px;width:100px;" <img/>
    </div>
</head>

<body>
    <header>
      <h1><center>Welcome to R.E.E. Engineering !</center></h1>
        <h3>Who we are</h3>
    </header>

<p> 
R.E.E. Engineering is an architecture and civil engineering firm that works with clients who want structures built, 
as well as with construction companies in order to realize their designs. They are embarking on a project utilizing 
software development and cloud based services in order to build both applications and new resources to improve their business, 
as well as their working environment. In particular, we developed an application to reduce turnaround time between translating 
client needs and ideas into viable designs by implementing real-time Architecture Visualisation tools. A second application will be in place 
to improve trust and accountability between both the clients and the construction firms by reducing friction and increasing transparency on the communication process. 
These tools will be built via .net core (C#), Unity Rendering engine and utilize elements of Microsoft's Azure cloud in order to host and provide functionality for the application. 
In addition, cloud services will be leveraged in order to provide a collaborative and modern working environment for staff to work from anywhere. 
</p>

</body>

<div id="footer"> 
    <p> Copy Right© R.E.E. Engineering</p>
</div>

